.book {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.bookInfo {

}

.addToCart {
  padding: 10px 5px;
  width: 200px;
  border: 1px black dashed;
  height: 100%;

  .addToCartRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}